// Блок с преимуществами приложения в index.html
.advantages {
  padding-top: 43px;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $blue-dark;
  margin: 0;
  margin-bottom: 33px;
  padding: 0 40px;
}

.advantages__list {
  @include reset-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 84px;
  padding-bottom: 28px;
  background-color: $grey-light;
}

.advantages__list::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 660px;
  height: 140px;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.advantages__item:not(:last-child) {
  margin-bottom: 22px;
}

.advantages__item-title {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding: 0 37px;
}

.advantages__image {
  text-align: center;
  height: 278px;
  overflow: hidden;
  background-color: $grey-light;
}
