// Кнопка-бургер для открытия/закрытия меню на мобильной/планшетной версии
.burger {
  position: absolute;
  top: -46px;
  right: 18px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: $blue-dark;
  border: none;
  cursor: pointer;

  &:hover {
    background-image: url("../img/icon-menu-cross-pink.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .burger {
    top: -66px;
    right: 19px;
  }
}
