// Карточка "Панорама дня" в photo.html
.card-panorama {
  position: relative;
}

.card-panorama__text-daily {
  position: absolute;
  width: 140px;
  height: auto;
  top: -12px;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 6px 0;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $pink;
}

.card-panorama__bg {
  min-width: 100%;
}

.card-panorama__info {
  padding: 20px 13px 24px 18px;
  background-color: $grey-light;
}

.card-panorama__user-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.card-panorama__user-name span {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.card-panorama__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;
}

.card-panorama__heart-rate {
  width: 13px;
  height: 14px;
  margin-right: 13px;
  background: url("../img/icon-heart-pink.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.card-panorama__likes {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}
