// Блок с формой анкеты в form.html
.form-contest__text-intro {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  padding: 45px 25px 10px;
  margin: 0;
}

.form-contest {
  margin: 0 auto;
}

fieldset {
  padding: 0;
  border: none;
}
