// page-main.html - блок мэйн, единый для всех страниц

// *Intro
.intro {
  margin: 0 auto;
  padding-bottom: 18px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
}

.intro__image-hand {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  padding-top: 395px;
  margin-left: -20px;
  margin-bottom: 29px;
}

.intro__title {
  margin: 0;
  padding: 20px 30px 20px 30px;
  margin-bottom: 330px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.intro-photo {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 63px;
}

.intro-photo__title {
  margin: 0;
  padding: 20px 30px 20px 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.intro-form__title {
  margin: 0;
  padding: 17px 30px 20px 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.intro-form {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 35px;
}

// Download
.download__button {
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 15px 35px;
  border: 2px solid $white;
  border-radius: 50px;
  display: block;
  margin-bottom: 30px;

  &:hover {
    color: $pink;
    background-color: $white;
  }

  &:active {
    color: transparentize($pink, 0.3);
  }
}

.download__list {
  @include reset-list;
  display: flex;
  margin-bottom: 23px;
  justify-content: center;
}

.download__item {
  display: inline-block;
  width: 80px;
  height: 59px;
  text-decoration: none;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

.download__link {
  display: block;
  background-repeat: no-repeat;
}

.download__link--apple {
  height: 67px;
  background-image: url("../img/logo-apple.svg");
  background-position: 17px 2px;
}

.download__link--android {
  height: 54px;
  background-image: url("../img/logo-android.svg");
  background-position: 19px 10px;
  padding-top: 5px;
}

.download__link--microsoft {
  height: 60px;
  background-image: url("../img/logo-microsoft.svg");
  background-position: 18px 15px;
}

.download__text {
  color: $white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}

// *Advantages
.advantages {
  padding-top: 43px;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $blue-dark;
  margin: 0;
  margin-bottom: 33px;
  padding: 0 40px;
}

.advantages__list {
  @include reset-list;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 84px;
  padding-bottom: 28px;
  background-color: $grey-light;
}

.advantages__list::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 660px;
  height: 140px;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.advantages__item:not(:last-child) {
  margin-bottom: 22px;
}

.advantages__item-title {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding: 0 37px;
}

.advantages__image {
  text-align: center;
  height: 278px;
  overflow: hidden;
  background-color: $grey-light;
}

// *Feedback
.feedback {
  max-width: 320px;
  margin: 0 auto;
}

.feedback__wrapper {
  padding-bottom: 42px;
}

.feedback__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 43px 0 0 0;
  margin: 0;
}

.feedback__id {
  display: none;
}

.feedback__text {
  font-style: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0 5px 14px;
}

.feedback__controls {
  display: none;
}

.slider {
  position: relative;
}

.slider__item {
  display: none;
}

.slider__button--1:checked ~ .slider__list .slider__item:first-child {
  display: block;
}

.slider__button--2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

.slider__button--3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

.slider__button--4:checked ~ .tariff__list {
  transform: translateX(48%);
  transition: 0.5s;
}

.slider__button--5:checked ~ .tariff__list {
  transform: translateX(0%);
  transition: 0.5s;
}

.slider__button--6:checked ~ .tariff__list {
  transform: translateX(-48%);
  transition: 0.5s;
}

.slider__controls {
  text-align: center;
}

.slider__controls label {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  background-color: #bdc1c7;
  border: 3px solid $white;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.slider__controls--tariff {
  padding-top: 37px;
  padding-bottom: 46px;
  text-align: center;
}

.slider__controls--tariff label {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  background-color: #bdc1c7;
  border: 3px solid $grey-light;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #7e868f;
  }

  &:active {
    background-color: #e9ebec;
  }
}

.slider__button--1:checked ~ .slider__controls label[for="button-1"],
.slider__button--2:checked ~ .slider__controls label[for="button-2"],
.slider__button--3:checked ~ .slider__controls label[for="button-3"] {
  border: 3px solid $black;
  background-color: $white;
}


// *Tariff
.tariff {
  position: relative;
  width: 100%;
  background-color: $grey-light;
  margin: 0 auto;

  &::before {
    content: " ";
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 660px;
    height: 140px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.tariff__wrapper {
  width: 320px;
  overflow: hidden;
  margin: 0 auto;
}

.tariff__list {
  display: flex;
  margin: 0;
  margin-left: -256px;
  padding: 0;
  list-style: none;
}

.tariff__list li:first-child {
  display: none;
}

.tariff__item {
  position: relative;
  margin-top: 90px;
}

.tariff__header {
  width: 278px;
  background-color: $blue-dark;
}

.tariff__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  padding-top: 16px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff__price {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $white;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff__text {
  width: 255px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $blue-dark;
  text-transform: uppercase;
  padding: 15px 0 14px 21px;
  margin: 0;
  background-color: $white;
  border-bottom: 2px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.tariff__header--hit {
  &::before {
    position: absolute;
    content: " ";
    width: 75px;
    height: 75px;
    top: 0;
    left: -1px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "Хит";
    width: 75px;
    height: 75px;
    top: -10px;
    left: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $white;
    text-transform: uppercase;
    transform: rotate(315deg);
  }
}

.tariff__text--on-filter::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 116px;
  right: 19px;
  background-image: url("../img/icon-yes-green.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff__text--on-smile::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 178px;
  right: 19px;
  background-image: url("../img/icon-yes-green.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff__text--on-comment::after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 32px;
  top: 236px;
  right: 23px;
  background-image: url("../img/icon-yes-green.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff__text--off-smile::after {
  position: absolute;
  content: " ";
  width: 26px;
  height: 26px;
  top: 176px;
  right: 20px;
  background-image: url("../img/icon-no-red.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tariff__text--off-comment::after {
  position: absolute;
  content: " ";
  width: 26px;
  height: 26px;
  top: 236px;
  right: 20px;
  background-image: url("../img/icon-no-red.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.slider__button--4:checked ~ .slider__controls--tariff label[for="button-4"],
.slider__button--5:checked ~ .slider__controls--tariff label[for="button-5"],
.slider__button--6:checked ~ .slider__controls--tariff label[for="button-6"] {
  border: 3px solid $black;
  background-color: $grey-light;
}


// *Gallery
.gallery__title {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  padding: 32px 20px 37px 20px;
  font-weight: 500;
}

.gallery__card {
  margin-bottom: 20px;
}

.card-panorama {
  position: relative;
}

.card-panorama__text-daily {
  position: absolute;
  width: 140px;
  height: auto;
  top: -12px;
  right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 6px 0;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $pink;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__bg,
.card-panorama__bg {
  min-width: 100%;
}

.card__info,
.card-panorama__info {
  padding: 20px 13px 24px 18px;
  background-color: $grey-light;
}

.card__user-name,
.card-panorama__user-name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.card__user-name span,
.card-panorama__user-name span {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.card__text,
.card-panorama__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;
}

.card__heart-rate,
.card-panorama__heart-rate {
  width: 13px;
  height: 14px;
  margin-right: 13px;
  background: url("../img/icon-heart-pink.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.card__likes,
.card-panorama__likes {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

// *Photo load
.photo-load__editor {
  padding: 20px 0 34px;
  background-color: $grey-light;
}

.photo-load__intro-text {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  padding: 10px 25px 30px;
}

.photo-load__image {
  display: block;
  margin: 0 auto;
}

.editor__tools {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 30px 0;
}

.editor__tools-item:not(:last-child) {
  margin-right: 40px;
}

.editor__label {
  display: block;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.editor__label--crop {
  background-image: url("../img/icon-editor-crop-greyl.svg");

  &:hover {
    background-image: url("../img/icon-editor-crop-greyd.svg");
  }

  &:active {
    background-image: url("../img/icon-editor-crop-pink.svg");
  }
}

.editor__label--fill {
  background-image: url("../img/icon-editor-fill-greyl.svg");

  &:hover {
    background-image: url("../img/icon-editor-fill-greyd.svg");
  }

  &:active {
    background-image: url("../img/icon-editor-fill-pink.svg");
  }
}

.editor__label--contrast {
  background-image: url("../img/icon-editor-contrast-greyl.svg");

  &:hover {
    background-image: url("../img/icon-editor-contrast-greyd.svg");
  }

  &:active {
    background-image: url("../img/icon-editor-contrast-pink.svg");
  }
}

.editor__controls {
  margin-bottom: 65px;
}

.editor__button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 15px 35px;
  border-radius: 30px;
  display: block;
  margin-bottom: 10px;
  background-color: $grey-light;

  &:active {
    opacity: 0.3;
  }
}

.editor__button--submit {
  color: $pink;
  border: 3px solid $pink;

  &:hover {
    color: $white;
    background-color: $pink;
  }
}

.editor__button--cancel {
  color: #dddee0;
  border: 3px solid #dddee0;

  &:hover {
    color: #ced1d4;
    border: 3px solid #b6babf;
  }

  &:active {
    color: #ced1d4;
    background-color: #b6babf;
  }
}

// Scroll bar
.scroll-bar {
  padding: 10px 0;
  margin-bottom: 30px;
}

.scroll-bar__range {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  border-radius: 2.5px;
  background-color: $black;
  border: 0;
}

.scroll-bar__range::after {
  content: "";
  position: absolute;

  top: -7px;
  right: 35px;
  width: 10px;
  height: 11px;
  border: solid 2px $pink;
  border-radius: 50%;
  background-color: $grey-light;
  cursor: pointer;
}

.scroll-bar__range:active::after {
  content: "";

  background-color: $pink;
  border-color: $pink;
}

// *Form-contest
.form-contest__text-intro {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: normal;
  padding: 45px 25px 10px;
  margin: 0;
}

.form-contest {
  margin: 0 auto;
}

fieldset {
  padding: 0;
  border: none;
}

.form__label {
  display: block;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  color: $pink;
  margin-bottom: 5px;
  padding-left: 22px;
}

.form__input {
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 15px 20px;
  margin-bottom: 18px;
  border: 2px solid $grey-border-color;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    border: 2px solid $pink;
    outline: none;
  }
}

// *Form user
.form__user {
  padding: 26px 0 23px 0;
}

// *Form achievements
.form__achievements {
  padding-top: 38px;
  background-color: $grey-light;
}

.form__achievements-title {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: $pink;
  margin: 0;
  padding: 0 25px 43px;
}

.form__achievements .form__label {
  position: relative;
  padding-left: 70px;
  font-size: 18px;
  font-weight: 400;
  text-transform: initial;
  color: $blue-dark;
  cursor: pointer;
  margin-bottom: 43px;
}
// Checkboxes
input[type="checkbox"] {
  display: none;
}

.form__achievements .form__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -2px;
  width: 35px;
  height: 35px;
  z-index: 1;
  border-radius: 3px;
  border: 2px solid $grey-border-color;
  background-color: $white;
}

.form__checkbox:checked + .form__option::after {
  content: "";

  width: 22px;
  height: 16px;

  position: absolute;
  left: 10px;
  top: 7px;

  background: url("../img/icon-yes-pink.svg") no-repeat;
  z-index: 2;
}

.form__achievements .form__label:hover::before {
  border: 2px solid $black;
}

.form__achievements .form__label:active::before {
  outline: none;
  border: 2px solid $pink;
}

// *Form contacts
.form__contacts {
  padding: 36px 0 22px 0;
}


// *Form app
.form__app {
  padding: 38px 0 37px 0;
  background-color: $grey-light;
}

.form__app-title {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: $pink;
  margin: 0;
  margin-bottom: 36px;
}

.form__app .form__label {
  position: relative;
  padding-left: 67px;
  font-size: 18px;
  font-weight: 400;
  text-transform: initial;
  color: $blue-dark;
  cursor: pointer;
}

.form__app .form__label:not(:last-child) {
  margin-bottom: 37px;
}

input[type="radio"] {
  display: none;
}

.form__app .form__label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  width: 35px;
  height: 35px;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid $grey-border-color;
  background-color: $white;
}

.form__app .form__label:hover::before {
  border: 2px solid $black;
}

.form__app .form__label:active::before {
  outline: none;
  border: 2px solid $pink;
}

.form__radio:checked + .form__option::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 2;
  border-radius: 50%;
  background-color: $pink;
}

// *Form emotions
.form__emotions {
  padding: 33px 0 20px 0;
}

.form__emotions .form__label {
  padding: 0;
  text-align: center;
  margin-bottom: 11px;
}

// Textarea
.form__textarea {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 17px 17px 120px 17px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  resize: none;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    outline: none;
    border: 2px solid $pink;
  }
}

// Submit
.form__submit {
  padding: 25px 0 3px 0;
}

.form__submit-button {
  display: block;
  width: 100%;
  padding: 22px 0 21px 0;
  margin-bottom: 42px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

.form__submit-text {
  text-align: center;
  text-transform: uppercase;
}

.form__submit-text--red {
  color: $pink;
}


// *Contacts
.contacts__wrapper {
  padding: 27px 30px 18px 30px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;
}

.contacts__heading {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: 0;
  color: $pink;
}

// .contacts__email .contacts__text:hover {
//   color: $blue-dark;
//   border-bottom: 1px solid $blue-dark;
// }

// .contacts__email .contacts__text:active {
//   color: $blue-dark;
//   opacity: 0.3;
// }

.contacts__phone {
  margin-bottom: 25px;
}

.contacts__email {
  margin-bottom: 28px;
}

.contacts__map {
  position: relative;
  overflow: hidden;
  background-color: #eae6dd;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile-cut@1x.png");
}

.contacts__map::before {
  content: "";
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  height: 100px;
  margin: auto;
  background-image: url("../../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
