// page-footer.html - блок футер, единый для всех страниц
.page-footer--hidden {
  display: none;
}

.page-footer__logo {
  display: block;
  width: 148px;
  height: 40px;
  margin: 45px auto 0;
  margin-bottom: 39px;
  overflow: hidden;
  background: url("../img/logo-pink-blue-mobile.svg") no-repeat center center;

  &:hover {
    background-image: url("../img/logo-pink-blue-mobile-hover.svg");
  }

  &:active {
    background-image: url("../img/logo-pink-blue-mobile.svg");
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .page-footer {
    min-width: 660px;
    display: block;
    padding: 29px 0 37px;
    margin: 0 auto;

    .container {
      max-width: 660px;
      padding: 0 20px;
      margin: 0 auto;
    }
  }

  .page-footer__wrapper {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
  }
}
