// page-main.html - блок мэйн, единый для всех страниц

// *Intro
.intro {
  margin: 0 auto;
  padding-bottom: 22px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
}

.intro__image-hand {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  padding-top: 397px;
  margin-left: -20px;
  margin-bottom: 30px;
}

.intro__title {
  margin: 0;
  padding: 20px 30px 20px 30px;
  margin-bottom: 330px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.intro-photo,
.intro-form {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 65px;
}

.intro-photo__title,
.intro-form__title {
  margin: 0;
  padding: 20px 30px 20px 30px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $white;
}

.intro-form {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center -65px;
  background-color: $blue-dark-intro;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 35px;
}

// Download
.download__button {
  color: $white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 15px 35px;
  border: 2px solid $white;
  border-radius: 50px;
  display: block;
  margin-bottom: 30px;
  &:hover {
    color: $pink;
    background-color: $white;
  }
  &:active {
    color: transparentize($pink, 0.3);
  }
}

.download__list {
  @include reset-list;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.download__item {
  display: inline-block;
  width: 80px;
  height: 59px;
  text-decoration: none;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
}

.download__link {
  display: block;
  background-repeat: no-repeat;
}

.download__link--apple {
  height: 67px;
  background-image: url("../img/logo-apple.svg");
  background-position: 17px 2px;
}

.download__link--android {
  height: 54px;
  background-image: url("../img/logo-android.svg");
  background-position: 19px 10px;
  padding-top: 5px;
}

.download__link--microsoft {
  height: 60px;
  background-image: url("../img/logo-microsoft.svg");
  background-position: 18px 15px;
}

.download__text {
  color: $white;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}

// *Advantages
.advantages {
  padding-top: 20px;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: $blue-dark;
}

.advantages__text:first-child {
  margin-bottom: 32px;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 100px;
  background-color: $grey-light;
}

.advantages__item-title {
  font-size: 18px;
  text-align: center;
}

.advantages__item-text {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  padding: 0 40px;
}

.advantages__image {
  text-align: center;
  height: 278px;
  overflow: hidden;
  background-color: $grey-light;
}

// *Gallery
.gallery__title {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  padding: 30px 25px;
}

.gallery__card {
  margin-bottom: 20px;
}

.card-panorama__text-daily {
  max-width: 140px;
  padding: 5px 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  color: $white;
  background-color: $pink;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card__bg,
.card-panorama__bg {
  min-width: 100%;
}

.card__info,
.card-panorama__info {
  padding: 10px 20px;
  background-color: $grey-light;
}

.card__user-name,
.card-panorama__user-name {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.card__user-name span,
.card-panorama__user-name span {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

.card__text,
.card-panorama__text {
  font-size: 14px;
  line-height: 1.71;
}

.card__heart-rate,
.card-panorama__heart-rate {
  width: 13px;
  height: 14px;
  margin-right: 20px;
  background: url("../img/icon-heart-pink.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.card__likes,
.card-panorama__likes {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}

// *Photo load
.photo-load__editor {
  padding: 20px 0 30px;
  background-color: $grey-light;
}

.photo-load__intro-text {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  padding: 10px 25px 25px;
}

.photo-load__image {
  display: block;
  margin: 0 auto;
}

.editor__tools {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.editor__tools-item:not(:last-child) {
  margin-right: 40px;
}

.editor__label {
  display: block;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}

.editor__label--crop {
  background-image: url("../img/icon-editor-crop-greyl.svg");
  &:hover {
    background-image: url("../img/icon-editor-crop-greyd.svg");
  }
  &:active{
    background-image: url("../img/icon-editor-crop-pink.svg");
  }
}

.editor__label--fill {
  background-image: url("../img/icon-editor-fill-greyl.svg");
  &:hover {
    background-image: url("../img/icon-editor-fill-greyd.svg");
  }
  &:active{
    background-image: url("../img/icon-editor-fill-pink.svg");
  }
}

.editor__label--contrast {
  background-image: url("../img/icon-editor-contrast-greyl.svg");
  &:hover {
    background-image: url("../img/icon-editor-contrast-greyd.svg");
  }
  &:active{
    background-image: url("../img/icon-editor-contrast-pink.svg");
  }
}

.editor__button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 15px 35px;
  border-radius: 50px;
  display: block;
  margin-bottom: 10px;
  background-color: $grey-light;

  &:active {
    opacity: 0.3;
  }
}

.editor__button--submit {
  color: $pink;
  border: 2px solid $pink;

  &:hover {
    color: $white;
    background-color: $pink;
  }
}

.editor__button--cancel {
  color: #dddee0;
  border: 3px solid #dddee0;

  &:hover {
    color: #ced1d4;
    border: 3px solid #b6babf;
  }

  &:active {
    color: #ced1d4;
    background-color: #b6babf;
  }
}

// Scroll bar
.scroll-bar {
  padding: 10px 0;
  margin-bottom: 30px;
}

.scroll-bar__range {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  border-radius: 2.5px;
  background-color: $black;
  border: 0;
}

.scroll-bar__range::after {
  content: "";
  position: absolute;

  top: -9px;
  right: 30px;
  width: 14px;
  height: 14px;
  border: solid 2px $pink;
  border-radius: 50%;
  background-color: $grey-light;
  cursor: pointer;
}

.scroll-bar__range:active::after {
  content: "";

  background-color: $pink;
  border-color: $pink;
}

// *Form-contest
.form-contest__text-intro {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  padding: 25px 30px;
}

.form-contest {
  margin: 0 auto;
}

fieldset {
  padding: 25px 0;

  border: none;
}

.form__achievements,
.form__app {
  background-color: $grey-light;
}

.form__label {
  display: block;
  font-size: 14px;
  line-height: 2.14;
  text-transform: uppercase;
  color: $pink;
  margin-bottom: 5px;
  padding-left: 22px;
}

.form__input {
  box-sizing: border-box;
  width: 280px;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: solid 2px $grey-border-color;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    border: 2px solid $pink;
    outline: none;
  }
}

.form__app-title,
.form__achievements-title {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  color: $pink;
  margin-bottom: 40px;
}

.form__app .form__label,
.form__achievements .form__label {
  font-size: 18px;
  font-weight: 400;
  text-transform: initial;
  color: $blue-dark;
  cursor: pointer;
  margin-bottom: 20px;
}

.form__emotions .form__label {
  padding: 0;
  text-align: center;
}

// Checkboxes
input[type="checkbox"] {
  display: none;
}

.form__achievements .form__label {
  position: relative;
  cursor: pointer;
  padding-left: 70px;
}

.form__achievements .form__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  border-radius: 3px;
  border: 2px solid $grey-border-color;
  background-color: $white;
}

.form__checkbox:checked + .form__option::after {
  content: "";

  width: 22px;
  height: 16px;

  position: absolute;
  left: 10px;
  top: 7px;

  background: url("../img/icon-yes-pink.svg") no-repeat;
  z-index: 2;
}

.form__achievements .form__label:hover::before {
  border: 2px solid $black;
}

.form__achievements .form__label:active::before {
  outline: none;
  border: 2px solid $pink;
}

// Radio buttons
input[type="radio"] {
  display: none;
}

.form__app .form__label {
  position: relative;
  cursor: pointer;
  padding-left: 70px;
}

.form__app .form__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid $grey-border-color;
  background-color: $white;
}

.form__app .form__label:hover::before {
  border: 2px solid $black;
}

.form__app .form__label:active::before {
  outline: none;
  border: 2px solid $pink;
}

.form__radio:checked + .form__option::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 8px;
  z-index: 2;
  border-radius: 50%;
  background-color: $pink;
}

// Textarea
.form__textarea {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 19px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  resize: none;

  &:hover {
    border: 2px solid $black;
  }

  &:focus {
    outline: none;
    border: 2px solid $pink;
  }
}

// Submit
.form__submit {
  padding: 25px 0;
}

.form__submit-button {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $green-btn;
  cursor: pointer;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    background-color: $green-btn-active;
    color: $green-btn-active-text;
  }
}

.form__submit-text {
  text-align: center;
  text-transform: uppercase;
}

.form__submit-text--red {
  color: $pink;
}


// *Contacts
.contacts__wrapper {
  padding: 50px 30px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 35px;
}

.contacts__heading {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  display: block;
  margin: 0;
  color: $pink;
}

// .contacts__email .contacts__text:hover {
//   color: $blue-dark;
//   border-bottom: 1px solid $blue-dark;
// }

// .contacts__email .contacts__text:active {
//   color: $blue-dark;
//   opacity: 0.3;
// }

.contacts__map {
  overflow: hidden;
  background-color: #eae6dd;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile-cut@1x.png");
}
