// page-header.html - блок хэдер, единый для всех страниц
.page-header {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: $blue-dark;
}

.page-header__opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparentize($black, 0.7);
  z-index: 999;
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;
  padding: 21px 0 27px 20px;
  background-image: url("../img/logo-pink-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: center right;

  &:hover {
    background-image: url("../img/logo-pink-white-mobile-hover.svg");
  }

  &:active {
    background-image: url("../img/logo-pink-white-mobile.svg");
    opacity: 0.3;
  }
}

@media (min-width: $width-tablet) {
  .page-header__wrapper {
    margin: 0 auto;
    padding-top: 34px;
  }

  .page-header__logo {
    width: 150px;
    height: 40px;
    padding: 0 0 43px 16px;
    background-image: url("../img/logo-pink-white-tablet.svg");
    background-position: top right;
  }

  top: -66px;
  right: 19px;
}
